# Project exclude paths
/.gradle/
/Sorting Tool/task/build/
/Sorting Tool/task/out/
/Sorting Tool/task/out/production/classes/
/Topics/Characters/A capital letter or a digit/out/
/Topics/Characters/A capital letter or a digit/out/production/classes/
/Topics/Characters/Digits or not/out/
/Topics/Characters/Digits or not/out/production/classes/
/Topics/Working with strings/The information about a person/out/
/Topics/Working with strings/The information about a person/out/production/classes/